/*
@colordef sandybrown 黄褐色 rgb(255,192,92)
@colordef bisque 橘黄色 rgb(248,226,190)
@colordef gainsboro 亮灰 rgb(231,227,219)
@colordef chocolate 巧克力 rgb(228,118,34) 
@colordef peru 秘鲁色 rgb(171,120,86) 
*/

/* reset */
body{
	font: 1em "Microsoft Yahei","微软雅黑", "宋体",serif;
	background-color: rgb(248,226,190);
	padding: 0;
	margin: 0;
	color: #333;
}

ul,ol,dl{list-style: none;margin: 0;padding: 0;}

img{width: 100%;height: 100%;}

/* wrapper */
.wrapper{
	width: 1000px;
	height: auto;
	margin: 50px auto;
	background-color: white;
	box-shadow: 0 3px 5px rgba(0,0,0,0.26);
		-moz-box-shadow: 0 3px 5px rgba(0,0,0,0.26);
}

/* about_author */
.about_author{
	position: relative;
	background-color: white;
	padding: 12px 0;
	height: 40px;
}
.social_contact{
	position: absolute;
	right: 12px;
	height: 40px;
}
.social-ele{
	background: url(../imgs/social-link.png) no-repeat 100%;
	width: 30px;
	height: 30px;
	margin-right: 7px;
	background-color: #666;
	float: left;
	border-radius: 20px;
		-moz-border-radius:5px; /* Old Firefox */
	transition-duration: 0.8s;
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
}
.social-ele:hover{
	width: 40px;
	height: 40px;
}
.social-ele a{
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.social_weibo{background-position: -160px 0;}
.social_douban{background-position: -40px -40px;}
.social_github{background-position: -160px -40px;}
.social_facebook{background-position: -40px 0;}
.social_googleplus{background-position: -80px 0;}
.social_twitter{background-position: 0 0;margin-right: 0}

/* header */
header{
	padding: 0 50px;
}
header ul{
	overflow: hidden;
}
header nav li{
	float: left;
	margin-right: 0.6em;
}
header nav li a{
	height: 2em;
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-size: 1em;
	line-height: 2em;
	background-color: rgb(255,192,92);
	/*background-color: rgb(248,226,190);*/
	color: white;
	text-align: center;
	padding: 0 1.1em;
}
header nav li a:hover{
	background-color: rgb(255, 110, 0);
	transition-duration: 0.8s;
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
}

/* content */
.content{
	padding: 0 50px;
}

/* content->recent-tech_post */
.recent-tech_post{

}

/* content->recent-life_post */
.recent-life_post{
}

article{
	border-top: 1px solid rgb(248,226,190);
}
.article_header{
	padding: 0;
}

/* footer */
.footer-social_link{

}
.foot-social_ele{
	background: url(../imgs/social-link.png) no-repeat 100%;
	width: 30px;
	height: 30px;
	margin-right: 7px;
	background-color: #666;
	float: left;
	border-radius: 20px;
		-moz-border-radius:5px; /* Old Firefox */
	transition-duration: 0.8s;
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
}
.foot-social_ele:hover{

}
.copyright{
	text-align: center;
}