/*
@colordef sandybrown 黄褐色 rgb(255,192,92)
@colordef bisque 橘黄色 rgb(248,226,190)
@colordef gainsboro 亮灰 rgb(231,227,219)
@colordef chocolate 巧克力 rgb(228,118,34) 
@colordef peru 秘鲁色 rgb(171,120,86) 
*/

/* reset */
body{
	background: url(../imgs/wood.jpg) top center repeat;
	font-size: 1em;
	background-color: rgb(248,226,190);
	padding: 0;
	margin: 0;
	color: #5f5f5f;
	font-family: "微软雅黑","Microsoft Yahei","宋体",Serif;
}
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
h1{ font-size: 2.75em; }
h2{ font-size: 2.125em; }
h3{ font-size: 1.75em; }
h4{ font-size: 1.25em; }
h5{ font-size: 1em; }
h6{ font-size: 0.875em; }
img{width: 100%;height: 100%;}

/* global */
a{
	text-decoration:none;
	color: rgb(228,118,34);
	transition-duration: 0.8s;
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
}
a:link, a:visited{
}
a:hover, a:active {
	/*text-decoration: underline;*/
}
code{
	font-family: Consolas;
	background: #F8F8F8;
	/* border-radius: 10px; */
	padding: 0.1em 0.2em;
	border: 1px dashed #F8E2BE;
	word-wrap: break-word;
}
.button{
	color: white;
	background-color: rgb(255,192,92);
	border-radius: 20px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0.2em 0.8em;
	font-size: 1em;
}
.button:hover{
	background-color: rgb(255, 110, 0);
}
.button-small{
	font-size: 0.875em;
}
.button-large{
	font-size: 1.2em;
}
::selection {
    background: #FFC05C;
	color: white;
}

::-moz-selection {
    background: #FFC05C;
	color: white;
}
::-webkit-selection {
    background: #FFC05C;
	color: white;
}

/*flot*/
@media screen and ( max-width: 1024px ){
	#wrapper{
		width: 78.1%;
	}
}
@media screen and ( max-width: 720px ) {
	#wrapper{
		width: 83.3%;
	}
}
@media screen and ( max-width: 480px ) {
	#wrapper{
		width: 100%;
	}
}
img{
	max-width: 100%;
}

/* wrapper */
#wrapper{
	max-width: 1000px;
	height: auto;
	margin: 50px auto;
	background-color: white;
	box-shadow: 0 3px 5px rgba(0,0,0,0.26);
		-moz-box-shadow: 0 3px 5px rgba(0,0,0,0.26);
	transition-duration: 0.8s;
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
}

/* about_author */
.about_author{
	position: relative;
	background-color: white;
	padding: 12px 0;
	height: 40px;
}
.social_contact{
	position: absolute;
	right: 12px;
	height: 40px;
	padding: 0;
	margin: 0;
	list-style: none;
}
.social-ele{
	background: url(../imgs/social-link.png) no-repeat 100%;
	width: 30px;
	height: 30px;
	margin-right: 7px;
	background-color: #666;
	float: left;
	border-radius: 20px;
		-moz-border-radius:5px; /* Old Firefox */
	transition-duration: 0.8s;
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
}
.social-ele:hover{
	width: 40px;
	height: 40px;
}
.social-ele a{
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-indent: -9999em;
}
.social_weibo{background-position: -160px 0;}
.social_douban{background-position: -40px -40px;}
.social_github{background-position: -160px -40px;}
.social_facebook{background-position: -40px 0;}
.social_googleplus{background-position: -80px 0;}
.social_twitter{background-position: 0 0;margin-right: 0}

/* header */
#header{
	padding: 0 50px;
}
.blog_title{
	color: rgb(228,118,34);
}
.nav ul{
	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav li{
	float: left;
	margin-right: 0.6em;
}
.nav li a{
	height: 2em;
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-size: 1em;
	line-height: 2em;
	background-color: rgb(255,192,92);
	/*background-color: rgb(248,226,190);*/
	color: white;
	text-align: center;
	padding: 0 1.1em;
}
.nav a:hover{
	background-color: rgb(255, 110, 0);
	transition-duration: 0.8s;
		-webkit-transition-duration: 0.8s;
		-moz-transition-duration: 0.8s;
		-ms-transition-duration: 0.8s;
		-o-transition-duration: 0.8s;
}

/* content */
#content{
	padding: 0 50px;
}
.blog_division{
	color:rgb(228,118,34); 
}

/* content->recent-tech_post */
.recent-tech_post{

}

/* content->recent-life_post */
.recent-life_post{
}
/* articles */
article{
	padding: 2em 0;
	position: relative;
	/*border-top: 1px solid rgb(248,226,190);*/
}
article blockquote{
	margin: 0;
	border: 1px dashed #F8E2BE;
	border-left: 5px solid #F8E2BE;
	padding: 0 0.8em;
	line-height: 1.4;
}
article .title{
	font-weight: 300;
}
.tags { margin: 1em 0;}
.tags a{
	font-size: 0.875em;
	color: white;
	background-color: rgb(255,192,92);
	/* padding: 0.1em 0.8em; */
	padding: 0 0.5em;
	line-height: 1.5;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.tags a:hover{
	background-color: rgb(255, 110, 0);
}
.datetime{
	margin-top: -1px;
	position: absolute;
	background-color: rgb(218, 144, 95);
	color: white;
	padding: 0 1em;
	height: 2em;
	line-height: 2.0;
	text-align: center;
	border-left: 5px solid rgb(171,120,86);
	left: -55px;
	top: 0;
}
article em, article strong{
	font-weight: bold;
	margin: 0 0.2em;
}
article p, article li{
	line-height: 2em;
}
.art_content p{
	text-indent: 2em;
}
/* disqus_thread */
#disqus_thread>*{
	font-family: "微软雅黑","Microsoft Yahei","宋体",Serif;
}
/* footer */
#footer{
	padding: 20px 0;
}
.copyright{
	text-align: center;
}