@charset "utf-8";

@orange: #db8160;

/* reset */
body {
    overflow-x: hidden;
}
body, ol, ul, h1, h2, h3, p{
    padding: 0;
    margin: 0;
}
img {
    border: none;
    vertical-align: top;
}
a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
li {
    list-style: none
}
/* end reset */

#header {
    width: 100%;
    height: 33px;
    background-color: #242323;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;

    .main-nav {
        text-align: center;

        ul {
            margin: 0 auto;
            overflow: hidden;
            display: inline-block;
        }

        li {
            line-height: 33px;
            float: left;
            font-size: 15px;
            font-family: 'times new roman',times,serif;
            text-align: center;

            a {
                color: #aaa;
                display: block;
                margin: 0 15px;

                &:hover {
                    color: #fff;
                }
            }

            &.selected {
                color: #fff;
            }
        }
    }
}

.page-content {
    padding-top: 452px;
    background-image: url('../imgs/banner/banner (4).jpg');
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 0;

    .wrapper {
        width: 100%;
        margin: 0;
        background-color: #fff;
        position: relative;
    }
}

.home {
    width: 1024px;
    position: relative;
    margin: 0 auto;

    .container {
        position: absolute;
        left: 0;
        top: -419px;
        width: 100%;

        .banner {
            background: transparent;
            text-align: center;
            height: 131px;
            margin-bottom: 166px;

            .blog-title {
                font-family: 'josefin slab',serif;
                font-size: 55px;
                line-height: 75px;
                margin-top: 36px;
                font-weight: normal;
            }

            .blog-author {
                font-family: 'times new roman',times,serif;
                font-size: 18px;
                line-height: 18px;
                letter-spacing: 0.1em;
                color: #302d2d;
                font-style: italic;
            }
        }

        .recent-posts, .tech-posts, .life-posts, .single {
            background-color: #f9f9f8;
            padding: 86px 0;

            .post {
                margin: 0 86px 86px;

                header {
                    .title {
                        font-size: 24px;
                        line-height: 38px;
                        font-family: 'times new roman', 'Microsoft Yahei', serif;
                        font-weight: lighter;

                        a {
                            color: #302d2d;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .datetime {
                    font-family: georgia,palatino,'book antiqua', 'palatino linotype',serif;
                    font-size: 14px;
                    line-height: 29px;
                    margin-bottom: 1.5px;
                    color: #999;
                    letter-spacing: 0.1em;
                }

                p {
                    font-size: 18px;
                    line-height: 30px;
                    color: #222;
                }
            }
        }

        .single-post {
            margin: 0 86px 0;

            header {
                .title {
                    font-size: 24px;
                    line-height: 38px;
                    font-family: 'times new roman', 'Microsoft Yahei', serif;
                    font-weight: lighter;

                    a {
                        color: #302d2d;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            .datetime {
                font-family: georgia,palatino,'book antiqua', 'palatino linotype',serif;
                font-size: 14px;
                line-height: 29px;
                margin-bottom: 1.5px;
                color: #999;
                letter-spacing: 0.1em;
            }

            .tags {
                margin: 1em 0;

                span {
                    font-size: 12px;
                    font-family: Consolas;
                    color: #fff;
                    background-color: #63a67f;
                    padding: 0.3em 0.8em;
                    border-radius: 0.3em;
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                }
            }

            .art-content {
                h1 {
                    margin: 20px 0;
                }

                h2 {
                    margin: 18px 0;
                }

                h3 {
                    margin: 16px 0;
                }

                p {
                    font-size: 18px;
                    line-height: 30px;
                    color: #222;
                    margin: 14px 0;
                }

                ul, ol {
                    padding-left: 23px;

                    li {
                        font-size: 18px;
                        line-height: 30px;
                        margin: 4px 0;
                    }
                }

                ul li {
                    list-style: inherit;
                }

                ol li {
                    list-style: decimal;
                }

                .highlight {
                    background-color: #fff;
                    margin: 10px 0;
                    padding: 10px;
                    border-top: 5px dashed #FFFFFF;
                    overflow: auto;
                    border:1px dashed #db8160;
                    font-family: Consolas;

                    code {
                        border: none;
                        background-color: inherit;
                    }
                }

                code {
                    font-family: Consolas;
                    background: #f8f8f8;
                    padding: 0.2em 0.2em;
                    border: 1px dashed @orange;
                    border-radius: 0.3em;
                    word-wrap: break-word;
                    margin: 20px 0;
                    font-size: 16px;
                    background-color: beige;
                }

                blockquote {
                    margin: 12px 0;
                    border: 1px dashed @orange;
                    border-left: 5px solid @orange;
                    padding: 0 0.8em;
                    line-height: 1.4;
                }
            }
        }

        .life-single-post {
            .art-content {
                p {
                    text-indent: 2em;
                }
            }
        }
    }
}
