---
layout: default
---

<div class="recent-posts">
    <div class="post-list">
        {% for post in paginator.posts %}
        <article class="post">
            <header>
                <h3 class="title"><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
            </header>
            <div class="datetime">
                {{ post.date | date_to_long_string }}
            </div>
            <div class="tags">
                {% for tag in post.tags %}
                    <span>{{ tag }}</span>
                {% endfor %}
            </div>
            <p class="excerpt">{{ post.excerpt }}</p>
        </article>
        {% endfor %}

        <!-- 分页链接 -->
        <div class="pagination">
            {% if paginator.previous_page %}
            <a class="pagi-link previous" href="{{ site.baseurl }}/page{{ paginator.previous_page }}">上一页</a>
            {% endif %}
            {% if paginator.next_page %}
            <a class="pagi-link next" href="{{ site.baseurl }}/page{{ paginator.next_page }}">下一页</a>
            {% endif %}
        </div>
    </div>
</div>

