<!-- sidebar -->
<div class="sidebar">
    <div class="intro" role="logo">
        <img class="avatar" src="{{ site.url }}/imgs/avatar.jpg" alt="博主头像">
        <h1 class="blog-title"><a href="http://zhengbowei.github.io/blog" title="博客标题">Wayne Zheng</a></h1>
    </div>
    <nav class="nav" role="navigation">
        <ul>
            <li>
                <a href="{{ site.url }}/" title="主页">Home</a>
            </li>
            <li><a href="{{ site.url }}/tech/" title="技术博文">Tech</a></li>
            <li><a href="{{ site.url }}/life/" title="生活点滴">Life</a></li>
            <!-- <li><a href="{{ site.url }}/projects/" title="项目">Projects</a></li> -->
            <li><a href="{{ site.url }}/about" title="关于我">About Me</a></li>
        </ul>
    </nav>
    <div class="contact-me">
        <ul>
            <li><a href="https://github.com/zhengbowei" target="_blank" title="github" rel="nofollow"><span>Github</span><span class="ele ele-github"></span></a></li>
            <li><a href="http://www.douban.com/people/81245114/" target="_blank" title="豆瓣" rel="nofollow"><span>Douban</span><span class="ele ele-douban"></span></a></li>
            <li><a href="http://weibo.com/u/1680111594" target="_blank" title="微博" rel="nofollow"><span>Weibo</span><span class="ele ele-weibo"></span></a></li>
        </ul>
    </div>
</div>
<!-- end sidebar -->