<!DOCTYPE html>
<html lang="zh-Hans">
    {% include head.html %}
    <body>
        {% include header.html %}

        <div id="page-content" style="background-image: url('{{ site.baseurl }}/public/imgs/banner/banner.jpg');">
            <div class="wrapper">
                <div class="home">
                    <div class="container">
                        <div class="banner">
                            <h1 class="blog-title">Living Chaplin</h1>
                            <p class="blog-author">Wayne Zheng</p>
                        </div>
                        {{ content }}
                        {% include footer.html %}
                    </div>
                </div>
            </div>
        </div>

        {% include top_down.html %}
        
        <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
        <script src="{{ site.baseurl }}/public/js/lib/jquery.lazyload.min.js"></script>
        <script src="{{ site.baseurl }}/public/js/common/global.min.js"></script>
        <script src="{{ site.baseurl }}/public/js/common/common.min.js"></script>
        <script src="{{ site.baseurl }}/public/js/common/tags.min.js"></script>
    </body>
</html>
