<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        {% include header.html %}

        <div id="page-content">
            <div class="wrapper">
                <div class="home">
                    <div class="container">
                        <div class="banner">
                            <h1 class="blog-title">{{ site.title }}</h1>
                            <p class="blog-author">Wayne Zheng</p>
                        </div>
                        {{ content }}
                        {% include footer.html %}
                    </div>
                </div>
            </div>
        </div>
        
        <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
        <script src="{{ "/js/jquery.lazyload.min.js" | prepend: site.baseurl }}"></script>
    </body>
    <script>
        var preloadImage = function(urlArray, callback) {
            var success = function () { 
                callback && callback.call(img);
                img = null;
            };

            var error = function () { 
                img = null;
            };

            for(var i = 0, len = urlArray.length; i < len; i++){
                var img = new Image(); 
                img.src = baseurl + urlArray[i];
               
                if (img.complete) { 
                    callback && callback.call(img);
                    img = null;
                    return; 
                }

                img.onload = success;
                img.onerror = error;
            }
        };
        
        var imgUrlArr = [
            '/imgs/me.jpg',
            '/imgs/wechat.jpg'
        ]
        preloadImage(imgUrlArr);
    </script>
</html>
