{% include header.html %}
<div class="content post-content" role="main">
    <article class="single-post">
        <header>
            <h1 class="title">{{ page.title }}</h1>
            <div class="tags">
                {% for tag in page.tags %}
                    <span>{{ tag }}</span>
                {% endfor %}
            </div>
        </header>
        <div class="art_content">{{ content }}</div>
        <footer>
            {% include ele_disqus.html %}
        </footer>
    </article>
</div>
{% include footer.html %}